@font-face {
    font-family: 'Raleway', sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Raleway&display=swap);
}  
html{
    color: #173258;
}
div nav{
font-family:Raleway;
font-size: 15px;
font-weight:300px;
}

.logo{
    display:flex;
    justify-content: center;
    background-color: #173258;
    height: 501px;

}
.logo img {
    height: 501px;
    width: 501px;

}
.connect {
    display:grid;
    justify-content: end;
}

.connection{
    width: 50px;
    height: 50px;
    justify-self: center;
}

.nav{
    font-size: 40px;
    display: flex;
    justify-content: space-evenly;
}

.nav a:hover{
    text-decoration:underline#be1e2d 2px;
}

a{
    color: #173258;
    text-decoration: none;
}

.buttonConnect{
    font-size: 15px;
    font-weight: bold;
}

hr{
    height: 2px;
    background-color: #173258;
    border: none;
}

.promesse{
    font-family: Raleway;
    font-size: 32px;
    font-weight: bold;
    line-height: 50px;
    padding: 20px;
}
span{
    color:#be1e2d;
    font-weight: bolder;
    }
.navButton{
    display: flex;
    flex-direction: column;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 32px;
    align-self: center;
    padding: 10px;
    background-color:#be1e2d ;
    width: 530px;
    height: 130px;
    margin: 20px;
    }

.button:hover {
    background-color:#173258;
    transition : 0.7s ;
    }

.button a{
    color: white;
}

h3{
    font-size: 20px;
    font-weight: normal;
    text-decoration: underline;

}

h2{
    text-decoration: underline;
    }

.mecanique{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 32px;
    }
.texteMecanique{
display: flex;
flex-direction: column;
align-items: center;
}
.mecanique h2{
    color: #be1e2d;

}
.mecanique img,p{
    margin: 50px;
}
.carrosserie{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 32px;
    }
.texteCarrosserie{
display: flex;
flex-direction: column;
align-items: center;
}
.carrosserie h2{
    color: #be1e2d;

}
.carrosserie img{
    margin: 50px;
}

.info{
    border: 4px solid #173258;
    line-height: 50px;
    

}
.contact{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    font-family: raleway;

}
form{
    display: flex;
    font-family: raleway;
    margin: 1em 10px;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}
label{
    margin: 10px;

}
input {
height: 30px;
width: 300px;
}
textarea{
    width: 300px;
}
button{
    background-color: #be1e2d;
    color: white;
    border: none;
    padding: 15px;
    font-family: raleway;
    font-size: large;
    font-weight: bold;
    margin: 15px;
}
button:hover {
    background-color:#173258;
    transition : 0.7s ;
}
button:focus {
    outline-color :#173258 ;
    outline-style:solid ;
    transition : 0.7s ;
}
.form{
    color:#be1e2d;
}
/*footer*/
footer a:-webkit-any-link {
    color: white;
    font-family: raleway;
    font-size: 20px;
    margin: 10px;
}
#navFooter{
    display:flex;
    flex-direction: column;
    grid-area: navFooter;
}
.footerMail,.footerPhone{
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin: 10px;
    height: 50px;

}
.localisation{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: localisation;
    font-family: raleway;
}

.localisation img{
    padding: 20px;
    margin: 0px;
   
}

.horaires{
    display: grid;
    grid-column-start: 3;
    justify-self: end;
    align-self: center;
    font-weight: lighter;
    font-size: initial;
    line-height: 20px;
    margin: 20px;
}
.footer{
    display: grid;   
    grid-template-areas:
    "footerMail localisation horaires"
    "footerPhone localisation horaires "
    "navFooter localisation horaires";
    grid-template-rows: auto;
    grid-template-columns: auto;
    background-color: #173258;
    color: white;
}

.horaires{
    grid-area: horaires;
    font-family: raleway;
}

.footerMail{
    grid-area: footerMail;
}

.footerPhone{
    grid-area: footerPhone;
}

.footer p {
margin: 0px;
padding: 20px;
}
a:hover{
    text-decoration:underline#be1e2d 2px;
}

